<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Form Patients</title>

</head>
<body>
    <div layout:fragment="content1">
        <div class="col-md-6 offset-3">
            <form method="post" th:action="@{/admin/save(page=${page},keyword=${keyword})}">
                <div >
                    <label for="id">id</label>
                    <label for="id" th:text="${patient.id}"></label>
                    <input id="id" class="form-control" type="hidden" name="id" th:value="${patient.id}" >
                    <!--                    <span class="text-danger" th:errors="${patient.nom}"></span>-->
                </div>
                <div >
                    <label for="nom">nom</label>
                    <input id="nom" class="form-control" type="text" name="nom" th:value="${patient.nom}">
<!--                    <span class="text-danger" th:errors="${patient.nom}"></span>-->
                </div>
                <div>
                    <label>date de naissance</label>
                    <input class="form-control" type="date" name="dateNaissance" th:value="${patient.dateNaissance}" >
                </div>
                <div>
                    <label>Malade</label>
                    <input  type="checkbox" name="malade" th:checked="${patient.nom}">
                </div>
                <div>
                    <label>score</label>
                    <input class="form-control" type="text" name="score" th:value="${patient.score}">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>

    </div>
</body>
</html>