<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Form Patients</title>

</head>
<body>
    <div layout:fragment="content1">
        <div class="col-md-6 offset-3">
            <form method="post" th:action="@{/admin/medecin/save}">
                <div >
                    <label for="nom">nom</label>
                    <input id="nom" class="form-control" type="text" name="nom" >
<!--                    <span class="text-danger" th:errors="${patient.nom}"></span>-->
                </div>
                <div>
                    <label>email</label>
                    <input class="form-control" type="email" name="email" >
                </div>
                <div>
                    <label>specialite</label>
                    <input  type="text" class="form-control" name="specialite" >
                </div>

                <button type="submit" class="btn btn-primary ">Save</button>
            </form>
        </div>

    </div>
</body>
</html>